*{
    padding: 0;
    margin: 0;
}

.navbar{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    
}
.container{
    background-color: chartreuse;
}

.navbar a{
    font-size: 30px;
    text-decoration: none;
    color: blue;
    margin-right: 40px;
    
}

.logo {
    width:30px;
    height: 30px;
    position: relative;
    right: 430px;
    top: 5px;
}

.navbar a:hover{
    color: black;
    transition: 0.5s;
}

.section1{
    
    height: 500px;
    background-image: url(../res/128578729-abstract-glowing-circuit-coding-background-programming-and-technology-concept-3d-rendering.jpg);
    background-size: cover; 

}

.section2{
    height: 500px;
}

    .calibre{
        font-size: arial 0vmin;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        font-weight: lighter;
        color: rgb(19, 15, 15);
        font-family: monospace
    }

.imgs{
    height: 250px;
    margin-top: 30px;
    display: flex;
    margin-left: 320px;
}

.imgs img{
    margin-left: 20px;
    margin-right: 20px;
}

.view{
    margin-left: 47%;
    padding-bottom: 50px;
}

hr{
    margin-top: 40px;
}
.section3 {
    
    margin-left: 400px;
    margin-bottom: 50px;
}
.section4 {margin-left: 300px;
}

.section22{
    height: max-content;
}
#case{
    width: 400px;
    height: 60px;
    -backgroundcolor: white;
    margin-left: 500px;
    
    
}
.bodycour{background-color:brown  ;

}

.section7 {
    width: 500px;
    height: 100px;
    color:white;
    margin-left: 500px;
    font-family: monospace;
}
#fed{
    color: thistle;
    font-size: 50px;
 
}


.section8{
    width: 50%;
    height: 100px;
    margin-left: 400px;


}
.button{
    font-size: 30px;
}
.select-button1{
        font-size:30px;
        
        
    }
.select-button2{
          font-size:30px;
          }
.section10{
    height: 500px;
    background-image:url(../res/nv%20photo.jpeg);
    background-size: cover;
}          
.heading{
    color: white;
    font-size: 81px;
    padding-top: 20%;   
    margin-left:44% ;
    font-family: sans-serif;
    font-weight: lighter;
}
label{

display: inline-block;
max-width: 100%;
margin-bottom : 5px;
font-size: 14px;
color:white;}
* {box-sizing: border-box;
font-family: helvetica;}
.form-control{
    border-radius: 10px;
    display: block;
width: 300px;
height: 60px;
padding:12px;
font-size: 25px;
color: #000;
border: solid;}
.bodycontact{
    background-image:linear-gradient(to right, red, black);
}
.ptcase{
    border-radius:10px;
    background-color:blue;
    color: white;
    width: 150px;
    height: 60px;

}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: goldenrod;
    color:white;
    text-align: center;
}